@import url('https://fonts.cdnfonts.com/css/nihonium113-console');

/* INICIO DE LOS RESETS */
/* CAMBIA EL MODELO DEL BOX-SIZING: PADDING Y BORDER SE AJUSTAN AL CONTENIDO */
*, *::before, *::after {
    box-sizing: border-box;
}

/* NORMALIZA EL MARGEN POR DEFECTO DE LOS NAVEGADORES Y
 AÑADE UN ALTO DE LÍNEA QUE INCREMENTA LA LEGIBILIDAD */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

/* ELIMINA EL CURSOR DE TEXTO EXCEPTO EN ELEMENTOS INPUT */
*:not(input) {
    caret-color: transparent;
}

/* MEJORA EL RENDERIZADO DE TEXTO */
body {
    -webkit-font-smoothing: antialiased;
}

/* MEJORA EN LOS VALORES POR DEFECTO DE LOS ELEMENTOS QUE CONTIENEN MEDIA */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* FUERZA LA HERENCIA DE FUENTES EN LOS ELEMENTOS DE FORMULARIO */
input, button, textarea, select {
    font: inherit;
}

/* ELIMINA LOS DESBORDAMIENTOS DE TEXTO Y AÑADE GUIONES EN LOS CASOS NECESARIOS */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
/* FIN DE LOS RESETS */

body {
    background: #03045e;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    caret-color: transparent;
}

header {
    background: #0077b6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
}

header a {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
}

footer {
    background: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
}

h1 {
    font-size: 40px;
    margin: 7vh 0 5vh 0;
}

.container p {
    font-size: 18px;
    margin-bottom: 5vh;
}

p{
    font-size: 18px;
    margin: 0;
}

.img404{
    position: relative;
    justify-content: center;
    align-items: center;
}

.container span{
    position: absolute;
    top: 52%;
    left: 2%;
    font-size: 70px;
    text-shadow: -9px 6px 8px rgba(0,0,0,1);
    color: red;
    font-family: "Nihonium113 Console", sans-serif;
    margin: 0;
    padding: 0;
    transform: scale(1);
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95)
    }
}