body {
    margin-bottom: 109px!important;
}

.footer {
    position: fixed;
    background-color: #f8f9fa;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer .footer-container {
    width: 100%;
    max-width: none;
    padding-left: 10px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer-left span, .footer-right span {
    color: #6c757d!important;
}
.footer-left {
    text-align: center;
}

.footer-right{
    position: absolute;
    right: 0;
}

.friconix{
    font-size: 14px;
    margin: 0;
    width: 20%;
    text-decoration: none;
}

.friconix:hover{
    color: #00e095;
}

.footer-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 20%;
}

.footer-stats ul{
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-stats li{
    list-style: none;
    margin: 0 10px;
}

.footer-title{
    font-size: 16px;
    font-weight: bold;
    width: 60%;
}