@import 'normalize.css';
@import 'footer.css';

html {
    display: flex;
    height: 100%;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: blue;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

span {
    color: red;
}

span#para {
    color: blue;
}

span#por {
    color: red;
}

p {
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bold;
    opacity: 0;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: izquierda 0.5s ease-in-out 1.5s forwards;
}

@keyframes izquierda {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

hr {
    width: 100%;
    margin: 0.7rem 0;
}

.entrar {
    color: #4f4f4f;
}

img {
    height: auto;
    animation: pulse 2s infinite;
}

@media (min-width: 18.75rem) {
    h1 {
        font-size: 1.875rem;
    }

    p {
        font-size: 1.375rem;
    }

    .bottom-p {
        margin-bottom: 1rem;
    }

    .entrar {
        font-size: 1.45rem;
    }

    img {
        width: 70vw;
        margin-bottom: 1rem;
    }
}

@media (min-width: 28.125rem) {
    h1 {
        font-size: 2.125rem;
    }

    p {
        font-size: 1.5rem;
    }

    .bottom-p {
        margin-bottom: 1.125rem;
    }

    .entrar {
        font-size: 1.65rem;
    }

    img {
        width: 45vw;
        margin-bottom: 1.125rem;
    }
}

@media (min-width: 37.5rem) {
    h1 {
        font-size: 2.375rem;
    }

    p {
        font-size: 1.625rem;
    }

    .bottom-p {
        margin-bottom: 1.25rem;
    }

    .entrar {
        font-size: 1.85rem;
    }

    img {
        width: 40vw;
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 46.875rem) {
    h1 {
        font-size: 2.625rem;
    }

    p {
        font-size: 1.75rem;
    }

    .entrar {
        font-size: 2.05rem;
    }

    img {
        width: 40vw;
    }
}

@media (min-width: 56.25rem) {
    h1 {
        font-size: 2.875rem;
    }

    p {
        font-size: 1.875rem;
    }

    .entrar {
        font-size: 2.25rem;
    }

    img {
        width: 30vw;
    }
}

@media (min-width: 68.75rem) {
    h1 {
        font-size: 3.125rem;
    }

    p {
        font-size: 2rem;
    }

    .entrar {
        font-size: 2.45rem;
    }

    img {
        width: 20vw;
    }
}

@media (min-width: 93.75rem) {
    h1 {
        font-size: 3.25rem;
    }

    p {
        font-size: 2.125rem;
    }

    .entrar {
        font-size: 2.6rem;
    }

    img {
        width: 20vw;
    }
}

@media (min-width: 120rem) {
    h1 {
        margin-top: 3rem;
        font-size: 3.4375rem;
    }

    p {
        font-size: 2.1875rem;
    }

    .entrar {
        font-size: 2.3125rem;
    }

    img {
        width: 30vw;
        margin-left: 0.625rem;
    }
}
