@import 'normalize.css';
@import 'footer-style.css';

html{
    display: flex;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: -20px;
}

h1 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 0;
    color: blue;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

span {
    color: red;
}

span#para {
    color: blue;
}

span#por {
    color: red;
}

p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    opacity: 0;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: izquierda 0.5s ease-in-out 3s forwards;
}

@keyframes izquierda {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

hr {
    width: 100%;
    margin: 20px 0 20px 0;
}

.entrar{
    font-size: 37px;
    color: #4f4f4f;
}

img {
    width: 30vw;
    height: auto;
    animation: pulse 2s infinite;
    margin-left: 10px;
}