/* INICIO DE LOS RESETS */
/* CAMBIA EL MODELO DEL BOX-SIZING: PADDING Y BORDER SE AJUSTAN AL CONTENIDO */
*, *::before, *::after {
    box-sizing: border-box;
}

/* NORMALIZA EL MARGEN POR DEFECTO DE LOS NAVEGADORES Y
 AÑADE UN ALTO DE LÍNEA QUE INCREMENTA LA LEGIBILIDAD */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

/* ELIMINA EL CURSOR DE TEXTO EXCEPTO EN ELEMENTOS INPUT */
*:not(input) {
    caret-color: transparent;
}

/* MEJORA EL RENDERIZADO DE TEXTO */
body {
    -webkit-font-smoothing: antialiased;
}

/* MEJORA EN LOS VALORES POR DEFECTO DE LOS ELEMENTOS QUE CONTIENEN MEDIA */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* FUERZA LA HERENCIA DE FUENTES EN LOS ELEMENTOS DE FORMULARIO */
input, button, textarea, select {
    font: inherit;
}

/* ELIMINA LOS DESBORDAMIENTOS DE TEXTO Y AÑADE GUIONES EN LOS CASOS NECESARIOS */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
/* FIN DE LOS RESETS */

body {
    margin: auto;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: blue;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

span {
    color: red;
}

span#para{
    color: blue;
}

span#por{
    color: red;
}

p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: izquierda 0.5s ease-in-out 3s forwards;
}

@keyframes izquierda {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

img{
    width: 300px;
    height: 300px;
    margin: 0;
    padding-left: 25px;
    animation: pulse 2s infinite;
}

div{
    padding-top: 100px;
}
