body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #7894cb;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    /* background-color:#345fb3; */
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.logo h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: x-large;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.barra-busqueda input {
    text-decoration: none;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 175px;
}

.barra-busqueda input::placeholder {
    text-align: center;
}

.barra-busqueda input:hover {
    animation-duration: 1s;
    animation-name: barra;
    animation-fill-mode: forwards;
}

@keyframes barra {
    from {
        width: 175px;
    }
    to {
        width: 300px;
    }
}

.user-menu button {
    background-color: #345fb3;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.user-menu {
    position: relative;
}

.user-menu button:hover {
    background-color: #104cc6;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -75px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.contenido {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 20px;
    background-color: whitesmoke;
    border-radius: 12px;
}

.sidebar {
    width: 100%;
    background-color: #345fb3;
    color: white;
    min-height: 100vh;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-item a:hover {
    text-shadow: 2px 2px 4px #000;
    transition: 0.2s text-shadow;
    color: #ff5858
}

.has-submenu .submenu {
    display: none;
}

.has-submenu:hover .submenu {
    display: block;
    text-shadow: 2px 2px 4px #000;
    transition: 0.3s font-size, 0.2s text-shadow;
}

.submenu-item {
    padding: 10px;
}

.submenu-item a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* #content {
  flex: 1;
  padding: 20px;
} */

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 30% 70%;
    gap: 20px;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 12px;
}

.user-box {
    background: #345fb3;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 25%;
}

.tag-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.tag-box ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.tag-box li {
    margin: 10px;
    padding: 10px;
    background-color: #ff5858;
    color: white;
    border-radius: 10px;

}

.thread-content {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    padding: 10px;
    background-color: #bdceef;
    border-radius: 10px;
    margin: 12px;
    width: 90%;
}

.thread-content h2 {
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 1px 2px #000;
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    margin-left: 10px;
}

.post-content {
    grid-column: span 2;
    padding: 10px;
    background-color: #efbdbd;
    border-radius: 10px;
    margin: 12px;
    width: 90%;
}

.post-user-box {
    background: #b33434;
    color: white;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    margin: 5px;
    width: 20%;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    width: 100%;
}

.footer .footer-container {
    width: 100%;
    max-width: none;
    padding-left: 10px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer-left {
    color: #6c757d;
    text-align: center;
}