.tag-container,
.edit-container {
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 1000;
}

.tag {
    border: 2px solid #eee;
    border-radius: 5px;
}

.tag-tooltip,
.edit-tooltip {
    visibility: hidden;
    width: auto;
    max-width: min-content;
    background-color: #345fb3;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tag-container:hover .tag-tooltip,
.edit-container:hover .edit-tooltip {
    visibility: visible;
    opacity: 1;
}

