<!DOCTYPE html>
<html lang="es">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <meta content="DESCRIPCIÓN_DE_LA_PÁGINA_AQUÍ" name="description">
    <meta content="Daniel Alonso Lázaro" name="author">
    <meta content="Maksym Dovgan" name="author">
    <meta content="Miguel Martínez Santos" name="author">
    <meta content="Víctor Hellín Sáez" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="copyright" name="&copy; AsynCore Project 2023">
    <meta property="og:title" content="TÍTULO_DE_LA_PÁGINA_AQUÍ">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/logo/logo.ico">
    <meta property="og:url" content="URL_DE_LA_PÁGINA_AQUÍ">
    <meta property="og:description" content="DESCRIPCIÓN_DE_LA_PAGINA_AQUÍ">
    <meta property="og:locale" content="es_ES">
    <meta property="og:locale:alternate" content="en_EN">
    <meta property="og:site_name" content="www.asyncore.es">
    <meta name="apple-mobile-web-app-title" content="AsynCore">
    <meta name="application-name" content="AsynCore">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/img/logo/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <link href="/css/RUTA_CSS_AQUÍ" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
    <title>TÍTULO DE LA PÁGINA</title>
    <script defer src="/js/RUTA_JS_AQUÍ"></script>
</head>
<body>
<main>
    <header>
        <nav>

        </nav>
    </header>
    <section>

    </section>
    <aside>

    </aside>
    <footer>

    </footer>
</main>
</body>
</html>