<!DOCTYPE html>
<html lang="es">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    <meta content="DESCRIPCIÓN DE LA PÁGINA AQUÍ" name="description">
    <meta content="Daniel Alonso Lázaro" name="author">
    <meta content="Maksym Dovgan" name="author">
    <meta content="Miguel Martínez Santos" name="author">
    <meta content="Víctor Hellín Sáez" name="author">
    <meta content="copyright" name="&copy; AsynCore Project 2023">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="img/logo/logo.ico" rel="icon" type="image/x-icon">
    <link href="RUTACSSAQUÍ" rel="stylesheet">
    <title>TÍTULO DE LA PÁGINA</title>
    <script defer src="RUTAJSAQUÍ"></script>
</head>
<body>
<main>
    <header>
        <nav>

        </nav>
    </header>
    <section>

    </section>
    <aside>

    </aside>
    <footer>

    </footer>
</main>
</body>
</html>